@font-face {
	font-family: 'PTSans';
	src: url('../fonts/PTSansRegular.eot');
	src: url('../fonts/PTSansRegular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PTSansRegular.woff') format('woff'),
		url('../fonts/PTSansRegular.woff2') format('woff2'),
		url('../fonts/PTSansRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Work Sans';
	src: url('../fonts/WorkSans-Light.eot');
	src: url('../fonts/WorkSans-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/WorkSans-Light.woff') format('woff'),
		url('../fonts/WorkSans-Light.woff2') format('woff2'),
		url('../fonts/WorkSans-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Work Sans';
	src: url('../fonts/WorkSans-Regular.eot');
	src: url('../fonts/WorkSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/WorkSans-Regular.woff') format('woff'),
		url('../fonts/WorkSans-Regular.woff2') format('woff2'),
		url('../fonts/WorkSans-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Work Sans';
	src: url('../fonts/WorkSans-Medium.eot');
	src: url('../fonts/WorkSans-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/WorkSans-Medium.woff') format('woff'),
		url('../fonts/WorkSans-Medium.woff2') format('woff2'),
		url('../fonts/WorkSans-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
